<h1>{{ question.message }}</h1>
<hr>

{# Formulaire #}
{{ form_start(reponse_form) }}
{{ form_widget(reponse_form) }}
{{ form_end(reponse_form) }}
<a href="{{ path('app_home') }}" class="btn btn-danger">Déconnexion</a>

<hr> h1

{# Réponses #}
<h2>Réponses :</h2>
<ul>
    {% for reponse in question.reponses|reverse %}
        <li>{{ reponse.messageR }}</li>
        Réponse de {{ reponse.user.prenom }} le {{ reponse.dateN|date('d/m/Y H:i') }}
    {% endfor %}
</ul>

