{% extends 'base.html.twig' %}

{% block title %}Détail de la question{% endblock %}

{% block body %}
    <h1 id="mids">{{ question.message }}</h1>
    
    
    {# Formulaire de réponse #}
    {{ form_start(reponse_form) }}
    <div class="form-group">
        {{ form_widget(reponse_form) }}
        </div>
        <div class="form-group">
            <a href="{{ path('app_questions') }}" id="rs">Revenir aux questions</a>
            </div>
    {{ form_end(reponse_form) }}
            
    <br>

    {# Questions et réponses #}
    <div class="card-container">
        <div class="card">
                <div class="card-header" style="font-weight: bold;">
                {% if question.user %}
                    Question posée par {{ question.user.prenom }} le {{ question.dateN|date('d/m/Y H:i') }}
                {% endif %}
            </div>
            <div class="card-body">
                <p>{{ question.message }}</p>
            </div>
            
            {# Réponses #}
            <ul class="list-group list-group-flush">
                {% for reponse in question.reponses|reverse %}
                    <li class="list-group-item">
                        <p>{{ reponse.messageR }}</p>
                        <small>Réponse de {{ reponse.user.prenom }} le {{ reponse.dateN|date('d/m/Y H:i', 'Europe/Paris') }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
