{# templates/questions/reponses.html.twig #}

<h1>{{ question.message }}</h1>

<hr>

{# Formulaire de réponse #}
{{ form_start(reponse_form) }}
{{ form_widget(reponse_form) }}
{{ form_end(reponse_form) }}
<a href="{{ path('app_questions') }}" class="btn btn-danger">Revenir aux questions</a>

<hr>

{# Réponses #}
<h2>Réponses :</h2>
<ul>
    {% for reponse in question.reponses|reverse %}
        <li>{{ reponse.messageR }}</li>
        Réponse de {{ reponse.user.prenom }} le {{ reponse.dateN|date('d/m/Y H:i') }}
    {% endfor %}
</ul>

