<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test - G1Besoin{% endblock %}</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('app.css') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    
        <div class="titre" id="mids">
            <h1>DELCO - Le forum des entreprises</h1>
        </div>   

    
        <div class="buttons">
            <a href="{{ path('inscription') }}" id="btn">Inscription</a>
            <a href="{{ path('connexion') }}" id="btn">Connexion</a>
        </div>
    

        {# Affichage des questions #}
        <h2 id="mids">Connectez vous afin de nous patagez vos connaissances</h2>
        <div class="card-container">
            {% for question in questions|reverse %}
            <div class="card">
                <div class="card-content">
                    <p>{{ question.message }}</p>
                    {% if question.user is not null %}
                    <p class="info">Ajoutée par {{ question.user.prenom }} le {{ question.dateN|date('d/m/Y H:i') }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        
    
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
